html{
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0em;
}
body{
    width: 70%;
    display: inline-block;
}
p{
    display: inline-block;
    margin: 0.5em 0 0.5em 0;
    }
#examine_header{
    margin: 1em 0 2em 0;
    font-weight: bold;
}
#scenario_descriptions{
    background: #f3f9fc;
    border: 2px skyblue dashed; 
    padding: 10px 10px; 
    border-radius: 15px; 
    text-align:left"
}
.title{
    margin-top: 2px;
    margin-bottom: 2px;
}
.area{
    width:  100%;
    height:  75%;
}
button,input[type="submit"]{
    width: 25%;
    border: solid 1px;
    padding: 0.5em;
}
#notes{
    width: 100%;
    display: none;
}
#notes>b{
    color: red;
}
#start_area{
    background-color: #defae3; 
    padding: 1px 11px;
}
#start_message{
    color: rgb(1, 110, 1); 
    text-align: center;
}
@media (min-width: 300px) and (max-width: 800px) {
    button {
        width: 80%;
    }
    input[type="submit"]{
        height: 10vh;
        width:  60vw;
    }
    #scenario_descriptions{
        width: 70%;
        padding: 8px 19px;
        margin: 1em 0 2em 0;
        color: #2c2c2f;
        background: #cde4ff;
        border-top: solid 5px #5989cf;
        border-bottom: solid 5px #5989cf;
        display: inline-block;
    }
    span{
        display : inline-block;
    }
}